body {
    font-family: Arial, sans-serif;
    background-image: url('2ndbg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    background-image: url('card.jpg');
    background-size: cover;
    background-color: #1d1d1d00;
    width: 900px;
    min-height: 580px;
    border-radius: 15px;
    box-shadow: rgba(109, 109, 109, 0.452)000 2px 3px 2px;
    padding: 20px;
    text-align: left;
    backdrop-filter: blur(8px);
    flex-direction: column;
    display: flex;
}

.logo {
    position: absolute;
    filter: brightness(0) invert(1) saturate(1);
    top: 20px;
    left: 80px;
    height: 40px;
    width: 40px;
}

.ecobrand{
    position: absolute;
    top: 30.5px;
    left: 120px;
    font-size: 18px;
    font-weight: bold;
}

.input-box input {
    font-size: 14px;
    width: 25%;
    margin-bottom: 10px;
    padding: 5px;
    color: white;
    background-color:#1f1f1f;
    border: 1px solid rgba(255, 255, 255, 0.293);
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.344) 1px 2px;
}

.inside-container{
    width: 100%;
    position: absolute;
    left: 480px;
    top: 150px;
}

.changepass {
    width: 26.5%;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
    padding: 5px 5px;
    cursor: pointer;
    background-color:  #00d084;
    color: black;
}
