body {
    font-family: Arial, sans-serif;
    background-image: url('2ndbg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}


.box{
    background-image: url('card.jpg');
    background-size: cover;
    background-color: #1d1d1d00;
    width: 900px;
    min-height: 580px;
    border-radius: 15px;
    box-shadow: rgba(109, 109, 109, 0.452)000 2px 3px 2px;
    padding: 20px;
    text-align: left;
    backdrop-filter: blur(8px);
    flex-direction: column;
    display: flex;
}
.join {
    color: rgba(255, 255, 255, 0.232);
    font-size: 14px;
    justify-self: end;
    text-align: right;
    margin-bottom: 20px;
    
}
.signup {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.signup:hover{
    color: blue;
    text-decoration: underline;
}

.already{
    font-size: 16px;
    color: white;
    font-weight: normal;
    padding-bottom: 10px;
    margin-bottom: 15px;
    line-height: 1.4;
}
.input-box{
    width: 100%;
}
.input-box input{
    font-size: 14px;
    width: 25%;
    margin-bottom: 15px;
    padding: 5px;
    color: white;
    background-color:#1f1f1f;
    border: 1px solid rgba(255, 255, 255, 0.293);
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.344) 1px 2px;
}

.input-box input:focus+label{
    transform: translateY(-25px);
    color: #ffffffb5;
}
.input-box input::placeholder{
    color: #ffffffb5;
}

.checkbox-rem{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label{
    font-size: 14px;
    margin-left: 8px;

}

.check {
    border-radius: 3px;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    cursor: pointer;
    accent-color: #00d084;
}

.box button{
    width: 26.5%;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
    padding: 5px 5px;
    cursor: pointer;
}

.login {
    background-color: #00d084;
    color: black;
    transition: background-color 0.3s ease-in;
}

.login:hover{
    background-color: #00d084c2;
}

.google {
    background-color: whitesmoke;
    color: black;
    margin-bottom: 7px;
    transition: background-color 0.3s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;

}
.google:hover{
    background-color: rgba(245, 245, 245, 0.789);
}

.google img{
    height: 14px;
    width: 14px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    margin-right: 8px; 
   
}
    
.forgot {
    text-decoration: none;
    color: white;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.forgot:hover{
    color: blue;
    text-decoration: underline;
}

.contract {
    color: white;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.copyright {
    color: rgba(255, 255, 255, 0.529);
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

.inside-box {
    width: 100%;
    position: absolute;
    left: 480px;
    top: 100px;
}

.password-toggle-icon{
    color: #fff;
}

.logo {
    position: absolute;
    filter: brightness(0) invert(1) saturate(1);
    top: 20px;
    left: 80px;
    height: 40px;
    width: 40px;
}

.ecobrand{
    position: absolute;
    top: 30.5px;
    left: 110.5px;
    font-size: 18px;
    font-weight: bold;
}