body {
    font-family: Arial, sans-serif;
    background-color: #171717;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
}

.logo {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 40px;
}

label {
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 25px;
    left: 90px;
}

.line {
    width: 220px;
    position: relative;
    top: 60px;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.364);
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid rgba(202, 195, 195, 0.436);
    border-radius: 0px 15px 15px 0px;
    background-color: #1d1d1d;
    position: fixed;
}

li {
    list-style: none;
}

ul {
    position: absolute;
    left: 0;
}

.li-button button {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    width: 200px;
    height: 40px;
    text-align: left;
    font-size: 16px;
    background-color: #17171700;
    color: white;
    position: relative;
    top: 40px;
    right: 30px;
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
}

.li-button button:focus {
    background-color: #00d084;
    color: black;
}

.bottom {
    position: absolute;
    bottom: 20px;
    left: 15px;
    width: 220px;
    text-align: center;
}

.bottom button {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
}

.signout {
    background-color: #1d1d1d;
    color: white;
    border: 1px solid white;
    font-weight: 300;
    transition: .3s ease-in;
}

.signout:hover {
    background-color: #3d3b3b;
}

.management-text {
    position: relative;
    top: 38px;
    right: 5px;
    color: rgba(255, 255, 255, 0.733);
    font-weight: bold;
    font-size: 12px;
}

.manage-account-text {
    color: rgba(255, 255, 255, 0.733);
    font-weight: bold;
    font-size: 12px;
    position: relative;
    top: 38px;
    right: 5px;
}

.others-text {
    color: rgba(255, 255, 255, 0.733);
    font-weight: bold;
    font-size: 12px;
    position: relative;
    top: 38px;
    right: 5px;
}

.infos {
    text-align: left;
    position: relative;
    top: -28px;
    left: 280px;
}

.title {
    font-size: 24px;
    margin-bottom: 0;
    color: white;
    margin-top:40px;
}

.info-title {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.725);
}

.news-card {
    position: relative;
    top: -35px;
    left: 280px;
    width: 1180px;
    height: 350px;
    background-color:  #363333b3;
    padding: 20px;
    border-radius: 10px;
}

.card-inside{
    position: relative;
    top: 5px;
    left: 5px;
}

.card-inside input, textarea {
    width: 800px;
    height: 50px;
    background-color: #363333b3;
    color: white;   
    margin-bottom: 12px;
    border-radius: 5px;
    font-size: 18px;
}

.card-inside input::placeholder {
    color: rgba(255, 255, 255, 0.801);
    padding: 20px;
}

.card-inside textarea::placeholder {
    color: rgba(255, 255, 255, 0.801);
    padding: 10px;
}

.card-inside button {
    width: 150px;   
    padding: 5px;
    margin-right: 10px;
    margin-top: 18px;
    border-radius: 5px;
    background-color: #00d084;
    font-weight: 590;
    transition: 0.1s ease-in;
}

.card-inside button:hover {
    background-color: #05925e;
}

.main-footer .version {
    position: absolute;
    bottom: -160px;
    left: 950px;
}

.main-footer {
    display: flex;
    position: relative;
    top: -70px;
    left: 450px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.168);
}

.main-footer .arr {
    position: absolute;
    bottom: -160px;
    left: -180px;
}

.focused {
    background-color: #00d084 !important;
    color: black !important;
}

.nav-news.active button {
    background-color: #00d084 !important;
    color: black !important;
    border-radius: 10px;
}

.breadcrumb {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 10px;
    left: 280px;
    font-size: 16px;
    color: #ffffffa1;
}