body {
    font-family: Arial, sans-serif;
    background-image: url('system.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card {
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow:#fff;
    backdrop-filter: blur(8px);
    padding: 10px 15px;
    width: 60%;
    height: 100%;
}

.info-card{
    color: white;
}

h1 {
    text-align: center;
}

a {
    color: white;
}

a:hover {
    color: blue;
}

.info-card .butt {
    text-align: center;
}

.card button {
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid white;
    width: 25%;
    margin-right: 15px;
    padding: 10px 5px;
}

.decline {
    background-color: rgba(179, 38, 38, 0.884);
    color: white;
    transition: .5s ease-in-out;
}

.decline:hover {
    background-color: red;
    color: white;
    scale: (1);
}

.accept {
    background-color: #00d084;
    color: white;
    transition: .5s ease-in-out;
}

.accept:hover {
    background-color: #066a45;
    color: white;
    scale: (1);
}